#define IDD_NEW_TABLE 1000
#define IDC_NEWTABLE_EDT_FILE_NAME 1001
#define IDC_NEWTABLE_STC_FILE_NAME 1000
#define IDC_NEWTABLE_BTN_OK 1
#define IDC_NEWTABLE_BTN_CANCEL 2
IDD_NEW_TABLE DIALOGEX 5,5,238,62
CAPTION "Create a New Table"
FONT 9,"Segoe UI",400,0
STYLE 0x10CC0090
EXSTYLE 0x00000000
BEGIN
  CONTROL "&File Name:",IDC_NEWTABLE_STC_FILE_NAME,"Static",0x50000200,8,9,45,13,0x00000000
  CONTROL "",IDC_NEWTABLE_EDT_FILE_NAME,"Edit",0x50010000,58,9,172,13,0x00000200
  CONTROL "&Cancel",IDC_NEWTABLE_BTN_CANCEL,"Button",0x50010000,111,35,55,14,0x00000000
  CONTROL "&OK",IDC_NEWTABLE_BTN_OK,"Button",0x50010001,174,35,55,14,0x00000000
END
