; ==================================================================================================
; Title:      RibbonApp.rc
; Author:     G. Friedrich
; Version:    See RibbonApp.asm
; Purpose:    ObjAsm Ribbon Application resource file.
; ==================================================================================================


#include "Resource.h"               //Windows resource definitions
#include "RibbonApp_Shared.rc"      //Application shared definitions
#include "VER\Version.rc"           //Application version definition
#include "MFT\Manifest_Invoker.rc"  //Application manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


// Ribbon -----------------------------------------------------------------------------------------
#include "ribbon.rc"


// Icons ------------------------------------------------------------------------------------------
ICON_APP        ICON DISCARDABLE "ICO\OA.ICO"


// Bitmaps ----------------------------------------------------------------------------------------
BMP_BACKGROUND  BITMAP "BMP\WndBkgnd.bmp"


// Dialogs ----------------------------------------------------------------------------------------
#include "DLG\DialogAbout.rc"
