; ==================================================================================================
; Title:      SpinningThrobber.rc
; Author:     G. Friedrich
; Version:    C.1.0
; Purpose:    ObjAsm resource file.
; Notes:      Version C.1.0, August 2022
;               - First release.
; ==================================================================================================


#include "Resource.h"               //Windows resource definitions
#include "SpinningThrobber_Shared.rc"    //Application shared definitions
#include "VER\Version.rc"           //Application version definition
#include "MFT\Manifest_Invoker.rc"  //Application manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


// Icons ------------------------------------------------------------------------------------------
ICON_APP  ICON DISCARDABLE "ICO\OA.ico"


// Bitmaps ----------------------------------------------------------------------------------------
BMP_BACKGROUND  BITMAP "BMP\WndBkgnd.bmp"


SPINNER1 PNG "Res\green_3recyclearrows_spinner64x64.png"
SPINNER2 PNG "Res\blue_3recyclearrows_spinner64x64.png"


// Dialogs ----------------------------------------------------------------------------------------
#include "DLG\DialogAbout.rc"


// Menus ------------------------------------------------------------------------------------------
MENU_APP MENUEX DISCARDABLE
BEGIN
  POPUP "&File", 0,    MFT_STRING,  MFS_ENABLED
  BEGIN
    MENUITEM "&Exit",  IDM_EXIT,    MFT_STRING, MFS_ENABLED
  END
  MENUITEM "&Start 1", IDM_START_1, MFT_STRING, MFS_ENABLED
  MENUITEM "&Start 2", IDM_START_2, MFT_STRING, MFS_ENABLED
  MENUITEM "&Stop 1",  IDM_STOP_1,  MFT_STRING, MFS_ENABLED
  MENUITEM "&Stop 2",  IDM_STOP_2,  MFT_STRING, MFS_ENABLED
  POPUP "&Help", 0,    MFT_STRING | MFT_RIGHTJUSTIFY, MFS_ENABLED
  BEGIN
    MENUITEM "&Help",  IDM_HELP,    MFT_STRING, MFS_ENABLED
    MENUITEM "&About", IDM_ABOUT,   MFT_STRING, MFS_ENABLED
  END
END
