#if BUILD_BITNESS == 32
  CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST DISCARDABLE "MFT\SxS_Win32_Admin.xml"
#else
  CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST DISCARDABLE "MFT\SxS_Win64_Admin.xml"
#endif
