#if BUILD_BITNESS == 32
  CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST DISCARDABLE "MFT\SxS_Win32_Highest.xml"
#else
  CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST DISCARDABLE "MFT\SxS_Win64_Highest.xml"
#endif
