; ==================================================================================================
; Title:      OA_ObjExplorer.rc
; Author:     G. Friedrich
; Version:    Check OA_ObjExplorer.asm
; Purpose:    OA_ObjExplorer resource file.
; ==================================================================================================


#include "Resource.h"                   //Windows resource definitions
#include "OA_ObjExplorer_Shared.rc"     //Application shared definitions
#include "VER\Version.rc"               //Application version definition
#include "MFT\Manifest_Invoker.rc"      //Application manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


// Icons -------------------------------------------------------------------------------------------
ICON_APP              ICON DISCARDABLE "Res\OAE.ico"

ICON_FILE_REFRESH     ICON DISCARDABLE "ICO\Refresh_16x16_04.ico"
ICON_FILE_SEARCH      ICON DISCARDABLE "ICO\Search_16x16_04.ico"
ICON_FILE_SETUP       ICON DISCARDABLE "ICO\Setup_16x16_04.ico"
ICON_FILE_EXIT        ICON DISCARDABLE "ICO\Exit_16x16_04.ico"
ICON_WINDOW_CASCADE   ICON DISCARDABLE "ICO\WndCascade_16x16_04.ico"
ICON_WINDOW_TILE_HOR  ICON DISCARDABLE "ICO\WndTileHorz_16x16_04.ico"
ICON_WINDOW_TILE_VER  ICON DISCARDABLE "ICO\WndTileVert_16x16_04.ico"
ICON_WINDOW_ARRANGE   ICON DISCARDABLE "ICO\WndArrange_16x16_04.ico"
ICON_WINDOW_NEXT      ICON DISCARDABLE "ICO\Right_16x16_04.ico"
ICON_WINDOW_PREV      ICON DISCARDABLE "ICO\Left_16x16_04.ico"
ICON_WINDOW_CLOSE     ICON DISCARDABLE "ICO\Close_16x16_04.ico"
ICON_WINDOW_CLOSEALL  ICON DISCARDABLE "ICO\CloseAll_16x16_04.ico"
ICON_WINDOW_ZOOMIN    ICON DISCARDABLE "ICO\Font_Larger_16x16_04.ico"
ICON_WINDOW_ZOOMOUT   ICON DISCARDABLE "ICO\Font_Smaller_16x16_04.ico"
ICON_HELP_HELP        ICON DISCARDABLE "ICO\Help_Red_16x16_04.ico"
ICON_HELP_ABOUT       ICON DISCARDABLE "ICO\Info_Blue_16x16_04.ico"

ICON_TREE_PRJ         ICON DISCARDABLE "ICO\Hand_16X16_32.ico"
ICON_TREE_ERR         ICON DISCARDABLE "Res\OAE_Error_16X16_32.ico"
ICON_OBJ_STD          ICON DISCARDABLE "Res\OAE_Tree_Obj_Std_16x16_32.ico"
ICON_OBJ_PRJ          ICON DISCARDABLE "Res\OAE_Tree_OBJ_Prj_16x16_32.ico"
ICON_INT_STD          ICON DISCARDABLE "Res\OAE_Tree_Int_Std_16x16_32.ico"
ICON_INT_PRJ          ICON DISCARDABLE "Res\OAE_Tree_Int_Prj_16x16_32.ico"
ICON_OVR_ERROR        ICON DISCARDABLE "Res\OAE_Overlay_Error_16x16_32.ico"

ICON_COPY             ICON DISCARDABLE "ICO\Copy_16x16_04.ico"
ICON_PRINT_PREVIEW    ICON DISCARDABLE "ICO\PrintPreview_16x16_04.ico"
ICON_PRINT            ICON DISCARDABLE "ICO\Print_16x16_04.ico"

ICON_OK               ICON DISCARDABLE "ICO\OK_16x16_04.ico"
//ICON_CANCEL           ICON DISCARDABLE "ICO\Cancel_16x16_04.ico"


// Cursors -----------------------------------------------------------------------------------------

CURSOR_HAND           CURSOR DISCARDABLE "CUR\Hand.cur"
CURSOR_SPLITVER       CURSOR DISCARDABLE "CUR\SplitVer.cur"

;XTreeView
CURSOR_XTV_ARROW      CURSOR DISCARDABLE "CUR\\Arrow.cur"


// Bitmaps -----------------------------------------------------------------------------------------

BMP_BACKGROUND        BITMAP "BMP\WndBkgnd.bmp"


// Dialogs -----------------------------------------------------------------------------------------

#include "..\OA_ObjExplorer\Res\OA_ObjExplorer_FindDlg.rc"
#include "..\OA_ObjExplorer\Res\OA_ObjExplorer_SetupDlg.rc"
#include "..\OA_ObjExplorer\Res\OA_ObjExplorer_AboutDlg.rc"


// Menus -------------------------------------------------------------------------------------------

MDIMENUINIT MENUEX DISCARDABLE
BEGIN
  POPUP "$00",          IDM_FILE,               MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "01$01",   IDM_FILE_REFRESH,       MFT_STRING, MFS_ENABLED
    MENUITEM "02$02",   IDM_FILE_SEARCH,        MFT_STRING, MFS_ENABLED
    MENUITEM "-$03",    0,                      MFT_STRING, MFS_ENABLED
    MENUITEM "03$04",   IDM_FILE_SETUP,         MFT_STRING, MFS_ENABLED
    MENUITEM "04$05",   IDM_FILE_EXIT,          MFT_STRING, MFS_ENABLED
  END
  POPUP "$10",          IDM_LANGUAGE,           MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "o$11",    IDM_LANGUAGE_ENGLISH,   MFT_STRING, MFS_ENABLED | MFS_CHECKED
    MENUITEM "o$12",    IDM_LANGUAGE_GERMAN,    MFT_STRING, MFS_ENABLED
    MENUITEM "o$13",    IDM_LANGUAGE_SPANISH,   MFT_STRING, MFS_ENABLED
  END
  POPUP "$40",          IDM_HELP,               MFT_STRING | MFT_RIGHTJUSTIFY, MFS_ENABLED
  BEGIN
    MENUITEM "15$41",   IDM_HELP_HELP,          MFT_STRING, MFS_ENABLED
    MENUITEM "16$42",   IDM_HELP_ABOUT,         MFT_STRING, MFS_ENABLED
  END
END

MDIMENUCHILD MENUEX DISCARDABLE
BEGIN
  POPUP "$00",          IDM_FILE,               MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "01$01",   IDM_FILE_REFRESH,       MFT_STRING, MFS_ENABLED
    MENUITEM "02$02",   IDM_FILE_SEARCH,        MFT_STRING, MFS_ENABLED
    MENUITEM "-$03",    1000,                   MFT_STRING, MFS_ENABLED
    MENUITEM "03$04",   IDM_FILE_SETUP,         MFT_STRING, MFS_ENABLED
    MENUITEM "04$05",   IDM_FILE_EXIT,          MFT_STRING, MFS_ENABLED
  END
  POPUP "$10",          IDM_LANGUAGE,           MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "o$11",    IDM_LANGUAGE_ENGLISH,   MFT_STRING, MFS_ENABLED | MFS_CHECKED
    MENUITEM "o$12",    IDM_LANGUAGE_GERMAN,    MFT_STRING, MFS_ENABLED
    MENUITEM "o$13",    IDM_LANGUAGE_SPANISH,   MFT_STRING, MFS_ENABLED
  END
  POPUP "$30",          IDM_WINDOW,             MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "05$31",   IDM_WIND_CASCADE,       MFT_STRING, MFS_ENABLED
    MENUITEM "06$32",   IDM_WIND_TILE_HOR,      MFT_STRING, MFS_ENABLED
    MENUITEM "07$33",   IDM_WIND_TILE_VER,      MFT_STRING, MFS_ENABLED
    MENUITEM "08$34",   IDM_WIND_ARRANGE,       MFT_STRING, MFS_ENABLED
    MENUITEM "09$35",   IDM_WIND_NEXT,          MFT_STRING, MFS_ENABLED
    MENUITEM "10$36",   IDM_WIND_PREV,          MFT_STRING, MFS_ENABLED
    MENUITEM "-|",      1001,                   MFT_STRING, MFS_ENABLED
    MENUITEM "11$37",   IDM_WIND_CLOSE,         MFT_STRING, MFS_ENABLED
    MENUITEM "12$38",   IDM_WIND_CLOSEALL,      MFT_STRING, MFS_ENABLED
  END
  POPUP "$40",          IDM_HELP,               MFT_STRING | MFT_RIGHTJUSTIFY, MFS_ENABLED
  BEGIN
    MENUITEM "15$41",   IDM_HELP_HELP,          MFT_STRING, MFS_ENABLED
    MENUITEM "16$42",   IDM_HELP_ABOUT,         MFT_STRING, MFS_ENABLED
  END
END

PROPCONTEXT MENUEX DISCARDABLE
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "$20",       IDM_SELECTALL,        MFT_STRING, MFS_ENABLED
    MENUITEM "15$21",     IDM_COPY,             MFT_STRING, MFS_ENABLED
    MENUITEM "-|",        1000,                 MFT_STRING, MFS_ENABLED
    MENUITEM "16$22",     IDM_PRINTPREVIEW,     MFT_STRING, MFS_ENABLED
    MENUITEM "17$23",     IDM_PRINT,            MFT_STRING, MFS_ENABLED
  END
END

// Stringtable -------------------------------------------------------------------------------------

#define IDLANG_ENGLISH 000
#define IDLANG_GERMAN  200
#define IDLANG_SPANISH 400
#define ID_MDI_MORE    50009
#define ID_MDI_LIST    50010

STRINGTABLE
MOVEABLE PURE LOADONCALL DISCARDABLE
BEGIN
  IDLANG_ENGLISH + 00, "&File|File commands"
  IDLANG_ENGLISH + 01, "&Refresh~Ctrl+R$80"
  IDLANG_ENGLISH + 02, "&Find Object...~Ctrl+F$81"
  IDLANG_ENGLISH + 03, "Application"
  IDLANG_ENGLISH + 04, "&Setup...~Ctrl+S$82"
  IDLANG_ENGLISH + 05, "E&xit...~Ctrl+X|Exits application"

  IDLANG_ENGLISH + 10, "&Language|Language selection"
  IDLANG_ENGLISH + 11, "&English|English language"
  IDLANG_ENGLISH + 12, "&Deutsch|Deutsche Sprache"
  IDLANG_ENGLISH + 13, "E&spañol|Idioma Español"

  IDLANG_ENGLISH + 20, "Select &All~Ctrl+A"
  IDLANG_ENGLISH + 21, "&Copy"
  IDLANG_ENGLISH + 22, "Print Pre&view..."
  IDLANG_ENGLISH + 23, "&Print..."

  IDLANG_ENGLISH + 30, "&Window|Window commands"
  IDLANG_ENGLISH + 31, "&Cascade~Shift+F5$83"
  IDLANG_ENGLISH + 32, "&Tile horizontally$84"
  IDLANG_ENGLISH + 33, "&Tile vertically~Shift+F4$85"
  IDLANG_ENGLISH + 34, "Arrange &icons$86"
  IDLANG_ENGLISH + 35, "&Next~Ctrl+F6$87"
  IDLANG_ENGLISH + 36, "&Previous~Ctrl+Shift+F6$88"
  IDLANG_ENGLISH + 37, "&Close~Ctrl+F4$89"
  IDLANG_ENGLISH + 38, "Close &all~Ctrl+Shift+F4$90"

  IDLANG_ENGLISH + 40, "&Help|Invokes help"
  IDLANG_ENGLISH + 41, "Application help~F1|Launches help system"
  IDLANG_ENGLISH + 42, "&About...|Displays information about this application"

  IDLANG_ENGLISH + 80, "Refreshes the Explorer information"
  IDLANG_ENGLISH + 81, "Searches information"
  IDLANG_ENGLISH + 82, "Sets up application functionality"
  IDLANG_ENGLISH + 83, "Cascades all windows"
  IDLANG_ENGLISH + 84, "Tiles all windows horizontally"
  IDLANG_ENGLISH + 85, "Tiles all windows vertically"
  IDLANG_ENGLISH + 86, "Arranges all window icons"
  IDLANG_ENGLISH + 87, "Shows the next child window"
  IDLANG_ENGLISH + 88, "Shows the previous child window"
  IDLANG_ENGLISH + 89, "Closes the active window"
  IDLANG_ENGLISH + 90, "Closes all windows"
  IDLANG_ENGLISH + 91, "Enlarges the content of the active window"
  IDLANG_ENGLISH + 92, "Reduces the content of the active window"

  IDLANG_ENGLISH + 95, "Displays ObjAsm objects"
  IDLANG_ENGLISH + 96, "Displays COM interfaces"
  IDLANG_ENGLISH + 97, "Displays project information only"
  IDLANG_ENGLISH + 98, "Displays broken information only"

  IDLANG_ENGLISH + ID_MDI_MORE, "&More windows...|Select a window"
  IDLANG_ENGLISH + ID_MDI_LIST, "Window list"

  IDLANG_ENGLISH + 100, "Setup"
  IDLANG_ENGLISH + 101, "OK"
  IDLANG_ENGLISH + 102, "Cancel"
  IDLANG_ENGLISH + 103, "External Viewer"
  IDLANG_ENGLISH + 104, "&Application:"
  IDLANG_ENGLISH + 105, "Leave empty to use the default viewer.\nFilename and line number are passed according to the printf convention."
  IDLANG_ENGLISH + 106, "Property window default values"
  IDLANG_ENGLISH + 107, "Show redefined &methods"
  IDLANG_ENGLISH + 108, "Show redefined &variables"
  IDLANG_ENGLISH + 109, "Select a file"

  IDLANG_ENGLISH + 120, "Find information"
  IDLANG_ENGLISH + 121, "&Search"
  IDLANG_ENGLISH + 122, "&Object"
  IDLANG_ENGLISH + 123, "&Interface"
  IDLANG_ENGLISH + 124, "Doubleclick to open selection"

  IDLANG_ENGLISH + 130, "About this application"
  IDLANG_ENGLISH + 131, "Designed with ObjAsm"
  IDLANG_ENGLISH + 132, "Visit our Homepage"
  IDLANG_ENGLISH + 133, "Send us an Email to"

  IDLANG_ENGLISH + 140, "Warning"
  IDLANG_ENGLISH + 141, "{PA20}[FI55][B,H+3,C#FF4F4F]This application is about to close![~]{P}There are open information windows that you probably need.{P}Do you want to proceed anyway?[~]"

  IDLANG_ENGLISH + 150, "Error"
  IDLANG_ENGLISH + 151, "{PA20}[FI55][B,H+3,C#FF4F4F]The file viewer could not be opened![~]{P}Please check the application settings.{P}Press the OK button to continue.[~]"


  IDLANG_GERMAN  + 00, "&Datei|Dateibefehle"
  IDLANG_GERMAN  + 01, "&Aktualisierung~Strg+R$80"
  IDLANG_GERMAN  + 02, "&Object suchen...~Strg+F$81"
  IDLANG_GERMAN  + 03, "Anwendung"
  IDLANG_GERMAN  + 04, "&Einstellung...$82"
  IDLANG_GERMAN  + 05, "E&nde...~Strg+X|Endet die Anwendung"

  IDLANG_GERMAN  + 10, "&Sprache|Sprachenauswahl"
  IDLANG_GERMAN  + 11, "&English|English language"
  IDLANG_GERMAN  + 12, "&Deutsch|Deutsche Sprache"
  IDLANG_GERMAN  + 13, "E&spañol|Idioma Español"

  IDLANG_GERMAN  + 20, "&Alles selektieren~Strg+A"
  IDLANG_GERMAN  + 21, "&Kopieren"
  IDLANG_GERMAN  + 22, "Druck&vorschau..."
  IDLANG_GERMAN  + 23, "&Drucken..."

  IDLANG_GERMAN  + 30, "&Fenster|Fensterbefehle"
  IDLANG_GERMAN  + 31, "&Überlappend~Umschalt+F5$83"
  IDLANG_GERMAN  + 32, "&Nebeneinander$84"
  IDLANG_GERMAN  + 33, "&Untereinender~Umschalt+F4$85"
  IDLANG_GERMAN  + 34, "&Ikonen anordnen$86"
  IDLANG_GERMAN  + 35, "&Nächstes~Strg+F6$87"
  IDLANG_GERMAN  + 36, "&Vorheriges~Strg+Umschalt+F6$88"
  IDLANG_GERMAN  + 37, "&Schliessen~Strg+F4$89"
  IDLANG_GERMAN  + 38, "&Alle schliessen~Strg+Umschalt+F4$90"

  IDLANG_GERMAN  + 40, "&Hilfe|Helfebefehle"
  IDLANG_GERMAN  + 41, "&Anwendungshilfe~F1|Startet das Hilfesystem"
  IDLANG_GERMAN  + 42, "Ü&ber...|Zeigt Informationen über diese Anwendung an"

  IDLANG_GERMAN  + 80, "Aktualisiert die Programmdaten"
  IDLANG_GERMAN  + 81, "Sucht Information"
  IDLANG_GERMAN  + 82, "Stellt die Anwendung ein"
  IDLANG_GERMAN  + 83, "Ordnet alle Fenster überlappend an"
  IDLANG_GERMAN  + 84, "Ordnet alle Fenster nebeneinander an"
  IDLANG_GERMAN  + 85, "Ordnet alle Fenster untereinander an"
  IDLANG_GERMAN  + 86, "Ordnet alle Ikonen untereinander an"
  IDLANG_GERMAN  + 87, "Zeigt das nächste Fenster an"
  IDLANG_GERMAN  + 88, "Zeigt das vorherige Fenster an"
  IDLANG_GERMAN  + 89, "Schliesst das aktive Fenster"
  IDLANG_GERMAN  + 90, "Schliesst alle Fenster"
  IDLANG_GERMAN  + 91, "Vergrößert den Inhalt des aktiven Fensters"
  IDLANG_GERMAN  + 92, "Verkleinert den Inhalt des aktiven Fensters"

  IDLANG_GERMAN  + 95, "Zeigt ObjAsm Objekte an"
  IDLANG_GERMAN  + 96, "Zeigt COM Schittstellen an"
  IDLANG_GERMAN  + 97, "Zeigt nur Projektinformation an"
  IDLANG_GERMAN  + 98, "Zeigt nur fehlerhafte Informationen an"

  IDLANG_GERMAN  + ID_MDI_MORE, "&Weitere Fenster...|Fenster auswählen"
  IDLANG_GERMAN  + ID_MDI_LIST, "Fensterliste"

  IDLANG_GERMAN  + 100, "Konfiguration"
  IDLANG_GERMAN  + 101, "OK"
  IDLANG_GERMAN  + 102, "Abbrechen"
  IDLANG_GERMAN  + 103, "Externer Viewer"
  IDLANG_GERMAN  + 104, "&Anwendung:"
  IDLANG_GERMAN  + 105, "Bitte frei lassen um den default Viewer zu verwenden.\nDateiname und Zeilennummer werden gemäss der printf-Konvention übergeben."
  IDLANG_GERMAN  + 106, "Standardeinstellungen des Eigenschaftsfensters"
  IDLANG_GERMAN  + 107, "Redefinierte &Methoden anzeigen"
  IDLANG_GERMAN  + 108, "Redefinierte &Variablen anzeigen"
  IDLANG_GERMAN  + 109, "Datei auswählen"

  IDLANG_GERMAN  + 120, "Information suchen"
  IDLANG_GERMAN  + 121, "&Suchen"
  IDLANG_GERMAN  + 122, "&Objekte"
  IDLANG_GERMAN  + 123, "&Schnittstellen"
  IDLANG_GERMAN  + 124, "Doppelklick zum Öffnen der Auswahl"

  IDLANG_GERMAN  + 130, "Über diese Anwendung"
  IDLANG_GERMAN  + 131, "Mit ObjAsm entwickelt"
  IDLANG_GERMAN  + 132, "Besuchen Sie unsere Homepage"
  IDLANG_GERMAN  + 133, "Senden Sie uns eine Email an"

  IDLANG_GERMAN  + 140, "Achtung"
  IDLANG_GERMAN  + 141, "{PA20}[FI55][B,H+3,C#FF4F4F]Diese Anwendung wird geschlossen![~]{P}Es gibt offene Informationsfenster, die Sie wahrscheinlich noch brauchen.{P}Wollen Sie trotzdem fortfahren?[~]"

  IDLANG_GERMAN  + 150, "Fehler"
  IDLANG_GERMAN  + 151, "{PA20}[FI55][B,H+3,C#FF4F4F]Der Datei-Viewer konnte nicht geöffnet werden![~]{P}Bitte überprüfen Sie die Einstellungen der Anwendung.{P}Um fortzufahren drücken Sie die OK Taste.[~]"

  IDLANG_SPANISH + 00, "&Archivo|Comandos de archivo"
  IDLANG_SPANISH + 01, "Actualiza&r~Ctrl+R$80"
  IDLANG_SPANISH + 02, "&Buscar object...~Ctrl+F$81"
  IDLANG_SPANISH + 03, "Aplicación"
  IDLANG_SPANISH + 04, "&Configurar...$82"
  IDLANG_SPANISH + 05, "&Finalizar...~Ctrl+X|Finaliza la aplicación"

  IDLANG_SPANISH + 10, "&Idioma|Selección de idioma"
  IDLANG_SPANISH + 11, "&English|English language"
  IDLANG_SPANISH + 12, "&Deutsch|Deutsche Sprache"
  IDLANG_SPANISH + 13, "E&spañol|Idioma Español"

  IDLANG_SPANISH + 20, "Seleccionar &todo~Strg+A"
  IDLANG_SPANISH + 21, "&Copiar"
  IDLANG_SPANISH + 22, "Imprimir en &pantalla..."
  IDLANG_SPANISH + 23, "Imprimir..."

  IDLANG_SPANISH + 30, "&Ventanas|Comandos de ventana"
  IDLANG_SPANISH + 31, "&Cascada~Shift+F5$83"
  IDLANG_SPANISH + 32, "&Mosaico horizonatal$84"
  IDLANG_SPANISH + 33, "&Mosaico vertical~Shift+F4$85"
  IDLANG_SPANISH + 34, "&Organizar iconos$86"
  IDLANG_SPANISH + 35, "&Próxima ventana~Ctrl+F6$87"
  IDLANG_SPANISH + 36, "Pre&via ventana~Ctrl+Shift+F6$88"
  IDLANG_SPANISH + 37, "&Cerrar~Ctrl+F4$89"
  IDLANG_SPANISH + 38, "Cerrar &todo~Ctrl+Shift+F4$90"

  IDLANG_SPANISH + 40, "&Ayuda|Comando de ayuda"
  IDLANG_SPANISH + 41, "&Ayuda sobre la aplicación~F1|Ejecuta el sistema de ayuda"
  IDLANG_SPANISH + 42, "&Sobre...|Muestra información sobre la aplicación"

  IDLANG_SPANISH + 80, "Actualiza los datos del Explorer"
  IDLANG_SPANISH + 81, "Busca información"
  IDLANG_SPANISH + 82, "Configura la aplicación"
  IDLANG_SPANISH + 83, "Ordena todas las ventanas en cascada"
  IDLANG_SPANISH + 84, "Ordena en forma de mosaico horizontal"
  IDLANG_SPANISH + 85, "Ordena en forma de mosaico vertical"
  IDLANG_SPANISH + 86, "Ordena todos los iconos"
  IDLANG_SPANISH + 87, "Muestra la próxima ventana"
  IDLANG_SPANISH + 88, "Muestra la ventana previa"
  IDLANG_SPANISH + 89, "Cierra la ventana seleccionada"
  IDLANG_SPANISH + 90, "Cierra todas las ventanas"
  IDLANG_SPANISH + 91, "Amplía el contenido de la ventana activa"
  IDLANG_SPANISH + 92, "Reduce el contenido de la ventana activa"

  IDLANG_SPANISH + 95, "Muestra objetos de ObjAsm"
  IDLANG_SPANISH + 96, "Muestra interfaces COM"
  IDLANG_SPANISH + 97, "Muestra sólamente informaciones del projecto"
  IDLANG_SPANISH + 98, "Muestra sólamente informaciones incorrectas"

  IDLANG_SPANISH + ID_MDI_MORE, "&Otras ventanas...|Seleccione una ventana"
  IDLANG_SPANISH + ID_MDI_LIST, "Lista de ventanas"

  IDLANG_SPANISH + 100, "Configuración"
  IDLANG_SPANISH + 101, "OK"
  IDLANG_SPANISH + 102, "Cancelar"
  IDLANG_SPANISH + 103, "Visualizador externo"
  IDLANG_SPANISH + 104, "&Aplicación:"
  IDLANG_SPANISH + 105, "Por favor dejar en blanco para usar del visualizador por defecto.\nEl nombre del archivo y el número de línea se pasan según la convención printf."
  IDLANG_SPANISH + 106, "Valores por defecto de la ventana de propiedades"
  IDLANG_SPANISH + 107, "Mostrar &métodos redefinidos"
  IDLANG_SPANISH + 108, "Mostrar &variables redefinidas"
  IDLANG_SPANISH + 109, "Seleccione un archivo"

  IDLANG_SPANISH + 120, "Buscar información"
  IDLANG_SPANISH + 121, "&Buscar"
  IDLANG_SPANISH + 122, "&Objectos"
  IDLANG_SPANISH + 123, "&Interfaces"
  IDLANG_SPANISH + 124, "Doble clic para abrir la selección"

  IDLANG_SPANISH + 130, "Acerca de esta aplicación"
  IDLANG_SPANISH + 131, "Diseñado con ObjAsm"
  IDLANG_SPANISH + 132, "Visite nuesta página Web"
  IDLANG_SPANISH + 133, "Envíenos un Email a"

  IDLANG_SPANISH + 140, "Atención"
  IDLANG_SPANISH + 141, "{PA20}[FI55][B,H+3,C#FF4F4F]Esta aplicación será cerrada![~]{P}Hay ventanas de información abiertas que probablemente necesite.{P}¿Desea proceder de todos modos?[~]"

  IDLANG_SPANISH + 150, "Error"
  IDLANG_SPANISH + 151, "{PA20}[FI55][B,H+3,C#FF4F4F]No se ha podido abrir el visor de archivos![~]{P}Por favor, revise la configuración de la aplicación.{P}Pulse el botón OK para continuar.[~]"
END

// PNGs --------------------------------------------------------------------------------------------
;PngCompile  IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_Compile.png"
;PngEdit     IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_Edit.png"
;PngOpen     IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_Open.png"
;PngShow     IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_Show.png"
;PngHide     IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_Hide.png"
PngVarUnk   IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_VarUnk.png"
PngVarReg   IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_VarReg.png"
PngVarRed   IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_VarRed.png"
PngVarObj   IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_VarObj.png"
;PngIntMtd   IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_IntMtd.png"
;PngIntDsp   IMAGE DISCARDABLE "..\OA_ObjExplorer\Res\OAE_IntDsp.png"

PNG_ObjExp  IMAGE   DISCARDABLE   "res\OAE_100x100.png"


// Accelerators ------------------------------------------------------------------------------------

MDIACCEL ACCELERATORS DISCARDABLE
BEGIN
  VK_F1, IDM_HELP_HELP,       VIRTKEY, NOINVERT
  VK_F4, IDM_WIND_TILE_VER,   VIRTKEY, SHIFT,   NOINVERT
  VK_F4, IDM_WIND_CLOSE,      VIRTKEY, CONTROL, NOINVERT
  VK_F4, IDM_WIND_CLOSEALL,   VIRTKEY, CONTROL, SHIFT, NOINVERT
  VK_F5, IDM_WIND_CASCADE,    VIRTKEY, SHIFT,   NOINVERT
  VK_F6, IDM_WIND_NEXT,       VIRTKEY, CONTROL, NOINVERT
  VK_F6, IDM_WIND_PREV,       VIRTKEY, CONTROL, SHIFT, NOINVERT
  "R",   IDM_FILE_REFRESH,    VIRTKEY, CONTROL, NOINVERT
  VK_F5, IDM_FILE_REFRESH,    VIRTKEY, NOINVERT
  "F",   IDM_FILE_SEARCH,     VIRTKEY, CONTROL, NOINVERT
  VK_F3, IDM_FILE_SEARCH,     VIRTKEY, NOINVERT
  "S",   IDM_FILE_SETUP,      VIRTKEY, CONTROL, NOINVERT
  "X",   IDM_FILE_EXIT,       VIRTKEY, CONTROL, NOINVERT
END
