#define IDD_CHT_SER_XY_TAB 5300
#define IDC_CHT_SER_XY_MARK_GRP 5320
#define IDC_CHT_SER_XY_LINE_GRP 5310
#define IDC_CHT_SER_XY_NAME_EDT 5302
#define IDC_CHT_SER_XY_DESC_EDT 5304
#define IDC_CHT_SER_XY_DESC_STC 5303
#define IDC_CHT_SER_XY_NAME_STC 5301
#define IDC_CHT_SER_XY_LINE_STYLE_CBO 5318
#define IDC_CHT_SER_XY_LINE_STYLE_STC 5317
#define IDC_CHT_SER_XY_LINE_WIDTH_STC 5314
#define IDC_CHT_SER_XY_LINE_COLOR_BTN 5312
#define IDC_CHT_SER_LINE_WIDTH_UDN 5316
#define IDC_CHT_SER_XY_MARK_TYPE_CBO 5328
#define IDC_CHT_SER_XY_MARK_TYPE_STC 5327
#define IDC_CHT_SER_XY_MARK_SIZE_UDN 5326
#define IDC_CHT_SER_XY_MARK_SIZE_EDT 5325
#define IDC_CHT_SER_XY_MARK_SIZE_STC 5324
#define IDC_CHT_SER_XY_MARK_COLOR_B_BTN 5322
#define IDC_CHT_SER_XY_MARK_COLOR_F_BTN 5323
#define IDC_CHT_SER_XY_LINE_SHOW_CHK 5311
#define IDC_CHT_SER_XY_MARK_SHOW_CHK 5321
#define IDC_CHT_SER_XY_LINE_WIDTH_EDT 5315
#define IDC_CHT_SER_XY_MARK_WIDTH_UDN 5331
#define IDC_CHT_SER_XY_MARK_WIDTH_EDT 5330
#define IDC_CHT_SER_XY_MARK_WIDTH_STC 5329
IDD_CHT_SER_XY_TAB DIALOGEX 1,13,265,185
FONT 9,"Segoe UI",400,0
STYLE 0x40000410
EXSTYLE 0x00010000
BEGIN
  CONTROL "&Name:",IDC_CHT_SER_XY_NAME_STC,"Static",0x50000002,22,14,43,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_NAME_EDT,"Edit",0x50010000,75,12,172,12,0x00000200
  CONTROL "&Description:",IDC_CHT_SER_XY_DESC_STC,"Static",0x50000002,22,30,43,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_DESC_EDT,"Edit",0x50010000,75,28,172,12,0x00000200
  CONTROL "Line",IDC_CHT_SER_XY_LINE_GRP,"Button",0x50000007,17,46,230,51,0x00000000
  CONTROL "&Visible",IDC_CHT_SER_XY_LINE_SHOW_CHK,"Button",0x50010003,44,60,38,8,0x00000000
  CONTROL "&Color",IDC_CHT_SER_XY_LINE_COLOR_BTN,"ColorButton",0x50010000,116,60,58,13,0x00000000
  CONTROL "&Width:",IDC_CHT_SER_XY_LINE_WIDTH_STC,"Static",0x50000002,22,78,41,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_LINE_WIDTH_EDT,"Edit",0x50012000,68,76,36,13,0x00000200
  CONTROL "",IDC_CHT_SER_LINE_WIDTH_UDN,"msctls_updown32",0x500001B6,104,76,9,13,0x00000000
  CONTROL "&Style:",IDC_CHT_SER_XY_LINE_STYLE_STC,"Static",0x50000002,109,78,22,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_LINE_STYLE_CBO,"ComboBox",0x50010003,138,76,96,11,0x00000000
  CONTROL "Marker",IDC_CHT_SER_XY_MARK_GRP,"Button",0x50000007,17,105,230,66,0x00000000
  CONTROL "V&isible",IDC_CHT_SER_XY_MARK_SHOW_CHK,"Button",0x50010003,44,120,38,8,0x00000000
  CONTROL "&Border Color",IDC_CHT_SER_XY_MARK_COLOR_B_BTN,"ColorButton",0x50010000,116,120,58,13,0x00000000
  CONTROL "&Fill Color",IDC_CHT_SER_XY_MARK_COLOR_F_BTN,"ColorButton",0x50010000,183,120,58,13,0x00000000
  CONTROL "Si&ze:",IDC_CHT_SER_XY_MARK_SIZE_STC,"Static",0x50000002,22,136,41,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_MARK_SIZE_EDT,"Edit",0x50012000,68,134,36,13,0x00000200
  CONTROL "",IDC_CHT_SER_XY_MARK_SIZE_UDN,"msctls_updown32",0x500001B6,104,134,9,13,0x00000000
  CONTROL "&Type:",IDC_CHT_SER_XY_MARK_TYPE_STC,"Static",0x50000002,109,142,22,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_MARK_TYPE_CBO,"ComboBox",0x50010003,138,140,96,11,0x00000000
  CONTROL "Bor&der Width:",IDC_CHT_SER_XY_MARK_WIDTH_STC,"Static",0x50000002,22,152,41,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_MARK_WIDTH_EDT,"Edit",0x50012000,68,150,36,13,0x00000200
  CONTROL "",IDC_CHT_SER_XY_MARK_WIDTH_UDN,"msctls_updown32",0x500001B6,104,150,9,13,0x00000000
END
