#define IDD_CHT_GRL_TAB 5100
#define IDC_CHT_GRL_COL_GRP 5110
#define IDC_CHT_GRL_COL_PLOT_BCKGND_BTN 5116
#define IDC_CHT_GRL_COL_SCALES_BTN 5115
#define IDC_CHT_GRL_COL_PLOT_BORDER_BTN 5114
#define IDC_CHT_GRL_COL_PLOT_AREA_BTN 5113
#define IDC_CHT_GRL_COL_MNR_GRID_BTN 5112
#define IDC_CHT_GRL_COL_MJR_GRID_BTN 5111
#define IDC_CHT_GRL_HELP_TVC 5120
IDD_CHT_GRL_TAB DIALOGEX 1,13,265,185
FONT 9,"Segoe UI",400,0
STYLE 0x40000410
EXSTYLE 0x00010000
BEGIN
  CONTROL "Main Colors",IDC_CHT_GRL_COL_GRP,"Button",0x50000007,17,11,88,160,0x00000000
  CONTROL "&Major Grid",IDC_CHT_GRL_COL_MJR_GRID_BTN,"ColorButton",0x50010000,29,28,60,13,0x00000000
  CONTROL "Mi&nor Grid",IDC_CHT_GRL_COL_MNR_GRID_BTN,"ColorButton",0x50010000,29,48,60,13,0x00000000
  CONTROL "Plot &Area",IDC_CHT_GRL_COL_PLOT_AREA_BTN,"ColorButton",0x50010000,29,67,60,13,0x00000000
  CONTROL "Plot &Border",IDC_CHT_GRL_COL_PLOT_BORDER_BTN,"ColorButton",0x50010000,29,86,60,13,0x00000000
  CONTROL "S&cales",IDC_CHT_GRL_COL_SCALES_BTN,"ColorButton",0x50010000,29,104,60,13,0x00000000
  CONTROL "&Background",IDC_CHT_GRL_COL_PLOT_BCKGND_BTN,"ColorButton",0x50010000,29,121,60,13,0x00000000
  CONTROL "",IDC_CHT_GRL_HELP_TVC,"TextView",0x50000000,125,20,121,146,0x00000000
END
