; ==================================================================================================
; Title:      ImageApp.rc
; Author:     G. Friedrich
; Version:    See ImageApp.asm
; Purpose:    ObjAsm Image Application.
; ==================================================================================================


#include "Resource.h"               //Windows resource definitions
#include "ImageApp_Shared.rc"       //Application shared definitions
#include "VER\Version.rc"           //Application version definition
#include "MFT\Manifest_Invoker.rc"  //Application manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

;#define IMAGE 2110                 //Defined in Resource.h


// Icons ------------------------------------------------------------------------------------------
ICON_APP  ICON DISCARDABLE "ICO\OA.ico"


// Bitmaps ----------------------------------------------------------------------------------------
BMP_BACKGROUND  BITMAP "BMP\WndBkgnd.bmp"


// Dialogs ----------------------------------------------------------------------------------------
#include "DLG\DialogAbout.rc"


// Menus ------------------------------------------------------------------------------------------
MENU_APP MENUEX DISCARDABLE
BEGIN
  POPUP "&File", 0, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "&Exit", IDM_EXIT,   MFT_STRING, MFS_ENABLED
  END
  POPUP "&Help", 0, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "&Help",  IDM_HELP,  MFT_STRING, MFS_ENABLED
    MENUITEM "&About", IDM_ABOUT, MFT_STRING, MFS_ENABLED
  END
END


// Images -----------------------------------------------------------------------------------------
IMG1  IMAGE   DISCARDABLE   "Res\IC.png"
IMG2  IMAGE   DISCARDABLE   "Res\OA.png"
