; ==================================================================================================
; Title:      WebCam.rc
; Author:     G. Friedrich
; Version:    See WebCam_Main.asm
; Purpose:    ObjAsm WebCam Application resource file.
; ==================================================================================================


#include "Resource.h"               //Windows resource definitions
#include "WebCam_Shared.rc"         //Application shared definitions
#include "VER\Version.rc"           //Application version definition
#include "MFT\Manifest_Invoker.rc"  //Application manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


// Icons ------------------------------------------------------------------------------------------
ICON_APP  ICON DISCARDABLE "ICO\OA.ico"


// Bitmaps ----------------------------------------------------------------------------------------
BMP_BACKGROUND  BITMAP "BMP\WndBkgnd.bmp"


// Dialogs ----------------------------------------------------------------------------------------
#include "DLG\DialogAbout.rc"


// Menus ------------------------------------------------------------------------------------------
MENU_APP MENUEX DISCARDABLE
BEGIN
  POPUP "&File", 0, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "&Exit",  IDM_FILE_EXIT,   MFT_STRING, MFS_ENABLED
  END
  POPUP "&WebCam", 0, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "&Connect",      IDM_WEBCAM_CONNECT,     MFT_STRING, MFS_ENABLED
    MENUITEM "&Disconnect",   IDM_WEBCAM_DISCONNECT,  MFT_STRING, MFS_ENABLED
    MENUITEM "&Capture BMP",  IDM_WEBCAM_CAPTURE_BMP, MFT_STRING, MFS_ENABLED
    MENUITEM "&Capture AVI",  IDM_WEBCAM_CAPTURE_AVI, MFT_STRING, MFS_ENABLED
    MENUITEM "&Format...",    IDM_WEBCAM_DLG_FORMAT,  MFT_STRING, MFS_ENABLED
    MENUITEM "&Source...",    IDM_WEBCAM_DLG_SOURCE,  MFT_STRING, MFS_ENABLED
  END
  POPUP "&Help", 0, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "&Help",  IDM_HELP_HELP,  MFT_STRING, MFS_ENABLED
    MENUITEM "&About", IDM_HELP_ABOUT, MFT_STRING, MFS_ENABLED
  END
END
