//RC-file created by Inc2RC from JsonDemo_Shared.inc on 2022-08-15, 23:31:06,20

#define APP_TITLE "JSON Demo"
#define ABOUT_TEXT "JSON Demo"
#define COPYRIGHT "G. Friedrich   December 2020"
#define VER_FILEVERSION 1,0,0,0
#define VER_FILEVERSION_STR "1.0"
#define VER_PRODUCTVERSION 1,0,0,0
#define VER_PRODUCTVERSION_STR "1.0"
#define BUILD_NUMBER 7
#define BUILD_DATE_STR "2022-08-15"
#define BUILD_BITNESS 64
#define BUILD_MODE DBG
#define IDM_EXIT 1000
#define IDM_HELP 1001
#define IDM_ABOUT 1999
#define IDC_TEXT_ABOUT 100
