//RC-file created by Inc2RC from Demo10_Shared.inc on 2021-10-17, 12:29:31,49

#define APP_TITLE "Demo10"
#define ABOUT_TEXT "Demo10 - Advanced Controls"
#define COPYRIGHT "G. Friedrich   October 2017"
#define VER_FILEVERSION 2,0,0,0
#define VER_FILEVERSION_STR "2.0"
#define VER_PRODUCTVERSION 2,0,0,0
#define VER_PRODUCTVERSION_STR "2.0"
#define BUILD_NUMBER 126
#define BUILD_DATE_STR "2021-10-17"
#define BUILD_BITNESS 64
#define BUILD_MODE RLS
#define IDM_FILE 050
#define IDM_FILE_NEW 051
#define IDM_FILE_CLOSE 052
#define IDM_FILE_SETUP 053
#define IDM_FILE_EXIT 054
#define IDM_FILE_SAVE_CTX 055
#define IDM_FILE_LOAD_CTX 056
#define IDM_LANGUAGE 060
#define IDM_LANGUAGE_ENGLISH 061
#define IDM_LANGUAGE_GERMAN 062
#define IDM_LANGUAGE_SPANISH 063
#define IDM_COLOR 070
#define IDM_COLOR_BLACK 071
#define IDM_COLOR_RED 072
#define IDM_COLOR_GREEN 073
#define IDM_COLOR_BLUE 074
#define IDM_COLOR_WHITE 075
#define IDM_WINDOW 080
#define IDM_WINDOW_CASCADE 081
#define IDM_WINDOW_TILE_HOR 082
#define IDM_WINDOW_TILE_VER 083
#define IDM_WINDOW_ARRANGE 084
#define IDM_WINDOW_CLOSEALL 085
#define IDM_HELP 090
#define IDM_HELP_HELP 091
#define IDM_HELP_ABOUT 092
#define IDC_CONTROL 800
#define IDC_CHOICE1 810
#define IDC_CHOICE2 811
#define IDC_CHOICE3 812
#define IDC_CHOICE4 813
#define IBS_EX_HOOVER 0x000100000
#define IDB_APP 000
#define IDB_APP_CHILD 001
#define IDB_FILE_NEW 002
#define IDB_FILE_CLOSE 003
#define IDB_FILE_SETUP 004
#define IDB_FILE_EXIT 005
#define IDB_COLOR_BLACK 000
#define IDB_COLOR_RED 000
#define IDB_COLOR_GREEN 000
#define IDB_COLOR_BLUE 000
#define IDB_COLOR_WHITE 000
#define IDB_WINDOW_CASCADE 006
#define IDB_WINDOW_TILE_HOR 007
#define IDB_WINDOW_TILE_VER 008
#define IDB_WINDOW_ARRANGE 009
#define IDB_WINDOW_CLOSEALL 010
#define IDB_HELP_HELP 019
#define IDB_HELP_ABOUT 020
#define IDC_TEXT_ABOUT 100
#define IDC_TOOLBARFILE 100
#define IDC_TOOLBARWINDOW 101
#define IDC_STATUSBAR 102
#define IDC_CONTROL 800
#define IDC_CHOICE1 810
#define IDC_CHOICE2 811
#define IDC_CHOICE3 812
#define IDC_CHOICE4 813
#define IDLANG_ENGLISH 000
#define IDLANG_GERMAN 100
#define IDLANG_SPANISH 200
#define IDMENUCOLOR 2
#define LANGUAGE_STEP 100
#define ID_MDI_MORE 50009
#define ID_MDI_LIST 50010
