#define IDD_DLG_MAIN 1000
#define IDC_STC_MESSAGE 1001
IDD_DLG_MAIN DIALOGEX 5,4,209,343
CAPTION "CUDA Demo Application"
FONT 9,"Segoe UI",400,0
STYLE 0x10CC0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "Error",IDC_STC_MESSAGE,"Static",0x50000001,5,4,199,335,0x00000000
END
