; ==================================================================================================
; Title:      PlotUEFI.rc
; Author:     Héctor S. Enrique
; Version:    C.1.0
; Purpose:    ObjAsm resource file.
; Notes:      Version C.1.0, June 2022
;               - First release.
; ==================================================================================================


#include "PlotUEFI_Shared.rc"      //Application shared definitions
