; ==================================================================================================
; Title:      ML_GUI.rc
; Author:     G. Friedrich
; Version:    C.1.0
; Purpose:    ObjAsm PNGource file.
; Notes:      Version C.1.0, October 2017
;               - First release.
; ==================================================================================================


#include "Resource.h"               //Windows resource definitions
#include "ML_GUI_Shared.rc"         //Application shared definitions
#include "VER\Version.rc"           //Application version definition
#include "MFT\Manifest_Invoker.rc"  //Application manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


// Icons ------------------------------------------------------------------------------------------
ICON_APP  ICON DISCARDABLE "ICO\OA.ico"


// Bitmaps ----------------------------------------------------------------------------------------
BMP_BACKGROUND  BITMAP "BMP\WndBkgnd.bmp"


// Dialogs ----------------------------------------------------------------------------------------
#include "DLG\DialogAbout.rc"


// Menus ------------------------------------------------------------------------------------------
MENU_APP MENUEX DISCARDABLE
BEGIN
  POPUP "File", IDM_FILE, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "Open",            IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Save",            IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Save as...",      IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Close",           IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "", , MFT_SEPARATOR
    MENUITEM "Print...",        IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Setup...",        IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "", , MFT_SEPARATOR
    MENUITEM "Exit",            IDM_EXIT, MFT_STRING, MFS_ENABLED
  END
  POPUP "Languages", IDM_LANGUAGE, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "Bosanski",        IDM_LANG_BOSNIAN, MFT_STRING, MFS_ENABLED
    MENUITEM L"\x4E2D\x56FD\x4EBA",  IDM_LANG_CHINESE, MFT_STRING, MFS_ENABLED
    MENUITEM "ceški",           IDM_LANG_CZECH,   MFT_STRING, MFS_ENABLED
    MENUITEM "Deutsch",         IDM_LANG_GERMAN,  MFT_STRING, MFS_ENABLED
    MENUITEM "English",         IDM_LANG_ENGLISH, MFT_STRING, MFS_ENABLED
    MENUITEM "Français",        IDM_LANG_FRENCH,  MFT_STRING, MFS_ENABLED
    MENUITEM L"\x0395\x03BB\x03BB\x03B7\x03BD\x03B9\x03BA\x03AC",  IDM_LANG_GREEK,   MFT_STRING, MFS_ENABLED
    MENUITEM "Polski",          IDM_LANG_POLNISH, MFT_STRING, MFS_ENABLED
    MENUITEM "Español",         IDM_LANG_SPANISH, MFT_STRING, MFS_ENABLED
    MENUITEM L"\x0026\x0050\x0443\x0441\x0441\x043A\x0438\x0439",  IDM_LANG_RUSSIAN, MFT_STRING, MFS_ENABLED
  END
  POPUP "Window", IDM_LANGUAGE, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "Cascade",         IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Tile Horizontal", IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Tile Vertical",   IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Arrange",         IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "", , MFT_SEPARATOR
    MENUITEM "Next",            IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Previous",        IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "", , MFT_SEPARATOR
    MENUITEM "Zoom in",         IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Zoom out",        IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "", , MFT_SEPARATOR
    MENUITEM "Close",           IDM_TEST, MFT_STRING, MFS_ENABLED
    MENUITEM "Close all",       IDM_TEST, MFT_STRING, MFS_ENABLED
  END

  POPUP "Help", IDM_HELP, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "Help",  IDM_APPHELP,  MFT_STRING, MFS_ENABLED
    MENUITEM "About", IDM_APPABOUT, MFT_STRING, MFS_ENABLED
  END
END

SPINNER0000 PNG "PNG\BlackSphere\96X96\BlackSphere_00_96x96.png"
SPINNER0001 PNG "PNG\BlackSphere\96X96\BlackSphere_01_96x96.png"
SPINNER0002 PNG "PNG\BlackSphere\96X96\BlackSphere_02_96x96.png"
SPINNER0003 PNG "PNG\BlackSphere\96X96\BlackSphere_03_96x96.png"
SPINNER0004 PNG "PNG\BlackSphere\96X96\BlackSphere_04_96x96.png"
SPINNER0005 PNG "PNG\BlackSphere\96X96\BlackSphere_05_96x96.png"
SPINNER0006 PNG "PNG\BlackSphere\96X96\BlackSphere_06_96x96.png"
SPINNER0007 PNG "PNG\BlackSphere\96X96\BlackSphere_07_96x96.png"
SPINNER0008 PNG "PNG\BlackSphere\96X96\BlackSphere_08_96x96.png"
SPINNER0009 PNG "PNG\BlackSphere\96X96\BlackSphere_09_96x96.png"
SPINNER0010 PNG "PNG\BlackSphere\96X96\BlackSphere_10_96x96.png"
SPINNER0011 PNG "PNG\BlackSphere\96x96\BlackSphere_11_96x96.png"
SPINNER0012 PNG "PNG\BlackSphere\96x96\BlackSphere_12_96x96.png"
SPINNER0013 PNG "PNG\BlackSphere\96x96\BlackSphere_13_96x96.png"
SPINNER0014 PNG "PNG\BlackSphere\96x96\BlackSphere_14_96x96.png"
SPINNER0015 PNG "PNG\BlackSphere\96x96\BlackSphere_15_96x96.png"
SPINNER0016 PNG "PNG\BlackSphere\96x96\BlackSphere_16_96x96.png"
SPINNER0017 PNG "PNG\BlackSphere\96x96\BlackSphere_17_96x96.png"
SPINNER0018 PNG "PNG\BlackSphere\96x96\BlackSphere_18_96x96.png"
SPINNER0019 PNG "PNG\BlackSphere\96x96\BlackSphere_19_96x96.png"
SPINNER0020 PNG "PNG\BlackSphere\96x96\BlackSphere_20_96x96.png"
SPINNER0021 PNG "PNG\BlackSphere\96x96\BlackSphere_21_96x96.png"
SPINNER0022 PNG "PNG\BlackSphere\96x96\BlackSphere_22_96x96.png"
SPINNER0023 PNG "PNG\BlackSphere\96x96\BlackSphere_23_96x96.png"
SPINNER0024 PNG "PNG\BlackSphere\96x96\BlackSphere_24_96x96.png"
SPINNER0025 PNG "PNG\BlackSphere\96x96\BlackSphere_25_96x96.png"
SPINNER0026 PNG "PNG\BlackSphere\96x96\BlackSphere_26_96x96.png"
SPINNER0027 PNG "PNG\BlackSphere\96x96\BlackSphere_27_96x96.png"
SPINNER0028 PNG "PNG\BlackSphere\96x96\BlackSphere_28_96x96.png"
SPINNER0029 PNG "PNG\BlackSphere\96x96\BlackSphere_29_96x96.png"
SPINNER0030 PNG "PNG\BlackSphere\96x96\BlackSphere_30_96x96.png"
SPINNER0031 PNG "PNG\BlackSphere\96x96\BlackSphere_31_96x96.png"
SPINNER0032 PNG "PNG\BlackSphere\96x96\BlackSphere_32_96x96.png"
SPINNER0033 PNG "PNG\BlackSphere\96x96\BlackSphere_33_96x96.png"
SPINNER0034 PNG "PNG\BlackSphere\96x96\BlackSphere_34_96x96.png"
SPINNER0035 PNG "PNG\BlackSphere\96x96\BlackSphere_35_96x96.png"
SPINNER0036 PNG "PNG\BlackSphere\96x96\BlackSphere_36_96x96.png"
SPINNER0037 PNG "PNG\BlackSphere\96x96\BlackSphere_37_96x96.png"
SPINNER0038 PNG "PNG\BlackSphere\96x96\BlackSphere_38_96x96.png"
SPINNER0039 PNG "PNG\BlackSphere\96x96\BlackSphere_39_96x96.png"
SPINNER0040 PNG "PNG\BlackSphere\96x96\BlackSphere_40_96x96.png"
SPINNER0041 PNG "PNG\BlackSphere\96x96\BlackSphere_41_96x96.png"
SPINNER0042 PNG "PNG\BlackSphere\96x96\BlackSphere_42_96x96.png"
SPINNER0043 PNG "PNG\BlackSphere\96x96\BlackSphere_43_96x96.png"
SPINNER0044 PNG "PNG\BlackSphere\96x96\BlackSphere_44_96x96.png"
SPINNER0045 PNG "PNG\BlackSphere\96x96\BlackSphere_45_96x96.png"
SPINNER0046 PNG "PNG\BlackSphere\96x96\BlackSphere_46_96x96.png"
SPINNER0047 PNG "PNG\BlackSphere\96x96\BlackSphere_47_96x96.png"
SPINNER0048 PNG "PNG\BlackSphere\96x96\BlackSphere_48_96x96.png"
SPINNER0049 PNG "PNG\BlackSphere\96x96\BlackSphere_49_96x96.png"
SPINNER0050 PNG "PNG\BlackSphere\96x96\BlackSphere_50_96x96.png"
SPINNER0051 PNG "PNG\BlackSphere\96x96\BlackSphere_51_96x96.png"
SPINNER0052 PNG "PNG\BlackSphere\96x96\BlackSphere_52_96x96.png"
SPINNER0053 PNG "PNG\BlackSphere\96x96\BlackSphere_53_96x96.png"
SPINNER0054 PNG "PNG\BlackSphere\96x96\BlackSphere_54_96x96.png"
SPINNER0055 PNG "PNG\BlackSphere\96x96\BlackSphere_55_96x96.png"
SPINNER0056 PNG "PNG\BlackSphere\96x96\BlackSphere_56_96x96.png"
SPINNER0057 PNG "PNG\BlackSphere\96x96\BlackSphere_57_96x96.png"
SPINNER0058 PNG "PNG\BlackSphere\96x96\BlackSphere_58_96x96.png"
SPINNER0059 PNG "PNG\BlackSphere\96x96\BlackSphere_59_96x96.png"
SPINNER0060 PNG "PNG\BlackSphere\96x96\BlackSphere_60_96x96.png"
SPINNER0061 PNG "PNG\BlackSphere\96x96\BlackSphere_61_96x96.png"
SPINNER0062 PNG "PNG\BlackSphere\96x96\BlackSphere_62_96x96.png"
SPINNER0063 PNG "PNG\BlackSphere\96x96\BlackSphere_63_96x96.png"
SPINNER0064 PNG "PNG\BlackSphere\96x96\BlackSphere_64_96x96.png"
SPINNER0065 PNG "PNG\BlackSphere\96x96\BlackSphere_65_96x96.png"
SPINNER0066 PNG "PNG\BlackSphere\96x96\BlackSphere_66_96x96.png"
SPINNER0067 PNG "PNG\BlackSphere\96x96\BlackSphere_67_96x96.png"
SPINNER0068 PNG "PNG\BlackSphere\96x96\BlackSphere_68_96x96.png"
SPINNER0069 PNG "PNG\BlackSphere\96x96\BlackSphere_69_96x96.png"
SPINNER0070 PNG "PNG\BlackSphere\96x96\BlackSphere_70_96x96.png"
SPINNER0071 PNG "PNG\BlackSphere\96x96\BlackSphere_71_96x96.png"
SPINNER0072 PNG "PNG\BlackSphere\96x96\BlackSphere_72_96x96.png"
SPINNER0073 PNG "PNG\BlackSphere\96x96\BlackSphere_73_96x96.png"
SPINNER0074 PNG "PNG\BlackSphere\96x96\BlackSphere_74_96x96.png"
SPINNER0075 PNG "PNG\BlackSphere\96x96\BlackSphere_75_96x96.png"
SPINNER0076 PNG "PNG\BlackSphere\96x96\BlackSphere_76_96x96.png"
SPINNER0077 PNG "PNG\BlackSphere\96x96\BlackSphere_77_96x96.png"
SPINNER0078 PNG "PNG\BlackSphere\96x96\BlackSphere_78_96x96.png"
SPINNER0079 PNG "PNG\BlackSphere\96x96\BlackSphere_79_96x96.png"
SPINNER0080 PNG "PNG\BlackSphere\96x96\BlackSphere_80_96x96.png"
SPINNER0081 PNG "PNG\BlackSphere\96x96\BlackSphere_81_96x96.png"
SPINNER0082 PNG "PNG\BlackSphere\96x96\BlackSphere_82_96x96.png"
SPINNER0083 PNG "PNG\BlackSphere\96x96\BlackSphere_83_96x96.png"
SPINNER0084 PNG "PNG\BlackSphere\96x96\BlackSphere_84_96x96.png"
SPINNER0085 PNG "PNG\BlackSphere\96x96\BlackSphere_85_96x96.png"
SPINNER0086 PNG "PNG\BlackSphere\96x96\BlackSphere_86_96x96.png"
SPINNER0087 PNG "PNG\BlackSphere\96x96\BlackSphere_87_96x96.png"
SPINNER0088 PNG "PNG\BlackSphere\96x96\BlackSphere_88_96x96.png"
SPINNER0089 PNG "PNG\BlackSphere\96x96\BlackSphere_89_96x96.png"
