// Dialog resource: DialogAlert.rc

#define IDC_DPW_GIF         100
#define IDC_DPW_TEXT        101

DIALOGALERT DIALOG DISCARDABLE  0,0,195,95
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | WS_CAPTION | WS_SYSMENU | WS_POPUP
FONT 9, "Segoe UI"
begin 
  DEFPUSHBUTTON  "&OK", IDOK, 139,75,50,14, WS_TABSTOP
  CTEXT          "", IDC_DPW_TEXT, 76,10,110,55
  CONTROL        "ALERT", IDC_DPW_GIF, "GifPlayer", 0, 10,10,50,50
  CONTROL        "", IDC_STATIC, "Static", SS_BLACKFRAME | SS_SUNKEN, 45,68,143,1
end
