// Dialog resource: DialogAbout.rc

#define IDC_DAB_ICON        100
#define IDC_DAB_TEXT        101


DIALOGABOUT DIALOGEX DISCARDABLE 0,0,195,95
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
//EXSTYLE WS_EX_LAYERED
CAPTION "About"
FONT 9, "Segoe UI"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 137,74,50,16, WS_TABSTOP
    CTEXT           "", IDC_DAB_TEXT, 46,10,140,55
    ICON            "ICON_APP", IDC_DAB_ICON, 15,15,32,32
    CONTROL         "", IDC_STATIC, "Static", SS_BLACKFRAME | SS_SUNKEN, 45,68,143,1
END
