// Dialog resource: DialogPassword.rc

#define IDC_DPW_GIF         100
#define IDC_DPW_TEXT1       101
#define IDC_DPW_EDIT        102
#define IDC_DPW_TEXT2       103

DIALOGPASSWORD DIALOG DISCARDABLE  0,0,195,95
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | WS_CAPTION | WS_SYSMENU | WS_POPUP
FONT 9, "Segoe UI"
begin
  DEFPUSHBUTTON  "&OK", IDOK, 139,74,50,16, WS_TABSTOP
  LTEXT          "Enter your password:", IDC_DPW_TEXT1, 76,10,110,12
  EDITTEXT       IDC_DPW_EDIT, 76,25,110,12, ES_AUTOHSCROLL | ES_PASSWORD
  LTEXT          "", IDC_DPW_TEXT2, 76,45,110,12
  CONTROL        "KEY", IDC_DPW_GIF, "GifPlayer", 0, 10,10,50,50
  CONTROL        "", IDC_STATIC, "Static", SS_BLACKFRAME | SS_SUNKEN, 45,68,143,1
end
