#define IDC_DXS_ADAPTERS 100
#define IDC_DXS_DEVICE_TYPES 101
#define IDC_DXS_WINDOWED 110
#define IDC_DXS_FRONT_BUFFER_FORMATS 102
#define IDC_DXS_RESOLUTION 103
#define IDC_DXS_REFRESH_RATE 104
#define IDC_DXS_PRES_INTERVAL 105
#define IDC_DXS_BACK_BUFFER_FORMATS 106
#define IDC_DXS_AUTODEPTHSTENCIL 111
#define IDC_DXS_Z_STENCIL_BUFFER_FORMATS 107
#define IDC_DXS_MULTI_SAMPLING_TYPES 108
#define IDC_DXS_MULTI_SAMPLING_QUALITIES 109
#define IDC_DXS_HARDWARE_TNL 113
#define IDC_DXS_PURE_DEVICE 112
#define IDC_DXS_MIXED_TNL 114
#define IDC_DXS_SOFTWARE_TNL 115
#define IDC_DXS_DRIVERS 116
#define IDC_DXS_8_BITS 117
#define IDC_DXS_16_BITS 118
#define IDC_DXS_11025_HZ 119
#define IDC_DXS_22050_HZ 120
#define IDC_DXS_44100_HZ 121
#define IDC_DXS_SAVE 122
#define IDC_DXS_OPEN 123
DIALOGDXSETUP DIALOGEX 0,0,283,337
CAPTION "DirectX Setup"
FONT 9, "Segoe UI",0,0
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_POPUP
BEGIN
  CONTROL "&OK",IDOK,"Button",0x50010001,226,317,48,15
  CONTROL "Direct3D",IDC_STATIC,"Button",0x50000007,4,2,275,243
  CONTROL "&Display Adapter:",IDC_STATIC,"Static",0x50020000,20,15,88,8
  CONTROL "",IDC_DXS_ADAPTERS,"ComboBox",0x58210203,108,12,155,330
  CONTROL "&Render Device Type:",IDC_STATIC,"Static",0x50020000,21,29,88,8
  CONTROL "",IDC_DXS_DEVICE_TYPES,"ComboBox",0x58210203,108,27,155,314
  CONTROL "Presentation",IDC_STATIC,"Button",0x50000007,9,45,264,90
  CONTROL "&Windowed",IDC_DXS_WINDOWED,"Button",0x58010003,108,58,51,9
  CONTROL "&Front Buffer Format:",IDC_STATIC,"Static",0x50020000,20,73,88,8
  CONTROL "",IDC_DXS_FRONT_BUFFER_FORMATS,"ComboBox",0x58210203,108,70,155,257
  CONTROL "Re&solution:",IDC_STATIC,"Static",0x50020000,20,88,88,8
  CONTROL "",IDC_DXS_RESOLUTION,"ComboBox",0x58210203,108,85,155,241
  CONTROL "Refresh r&ate:",IDC_STATIC,"Static",0x50020000,20,103,88,8
  CONTROL "",IDC_DXS_REFRESH_RATE,"ComboBox",0x58210203,108,100,155,225
  CONTROL "&Interval:",IDC_STATIC,"Static",0x50020000,20,118,87,8
  CONTROL "",IDC_DXS_PRES_INTERVAL,"ComboBox",0x58210203,108,115,155,225
  CONTROL "&Back Buffer Format:",IDC_STATIC,"Static",0x50020000,20,147,88,8
  CONTROL "",IDC_DXS_BACK_BUFFER_FORMATS,"ComboBox",0x58210203,108,144,155,192
  CONTROL "Z/Stencil Buffer:",IDC_STATIC,"Static",0x50020000,20,162,88,8
  CONTROL "&Managed",IDC_DXS_AUTODEPTHSTENCIL,"Button",0x58010003,108,161,44,9
  CONTROL "&Format:",IDC_STATIC,"Static",0x50020000,169,162,23,8
  CONTROL "",IDC_DXS_Z_STENCIL_BUFFER_FORMATS,"ComboBox",0x58210203,196,159,67,153
  CONTROL "Multisampling &Type:",IDC_STATIC,"Static",0x50020000,20,177,88,8
  CONTROL "",IDC_DXS_MULTI_SAMPLING_TYPES,"ComboBox",0x58210203,108,174,155,153
  CONTROL "Multisampling &Quality:",IDC_STATIC,"Static",0x50020000,20,192,88,8
  CONTROL "",IDC_DXS_MULTI_SAMPLING_QUALITIES,"ComboBox",0x58210203,108,189,155,138
  CONTROL "Verte&x Processing:",IDC_STATIC,"Static",0x50020000,20,207,88,8
  CONTROL "&Hardware",IDC_DXS_HARDWARE_TNL,"Button",0x18000009,108,207,48,9
  CONTROL "&Pure Device",IDC_DXS_PURE_DEVICE,"Button",0x58010003,164,207,51,9
  CONTROL "&Mixed",IDC_DXS_MIXED_TNL,"Button",0x18000009,108,217,48,9
  CONTROL "Softwar&e",IDC_DXS_SOFTWARE_TNL,"Button",0x18000009,108,227,48,9
  CONTROL "DirectSound",IDC_STATIC,"Button",0x50000007,4,248,275,64
  CONTROL "Sound Dri&ver:",IDC_STATIC,"Static",0x50020000,20,265,88,8
  CONTROL "",IDC_DXS_DRIVERS,"ComboBox",0x58210203,108,262,155,54
  CONTROL "Sample Size:",IDC_STATIC,"Static",0x50020000,20,280,88,8
  CONTROL "&8 Bits",IDC_DXS_8_BITS,"Button",0x18000009,108,280,51,9
  CONTROL "1&6 Bits",IDC_DXS_16_BITS,"Button",0x18000009,161,280,51,9
  CONTROL "Sampling Frequency:",IDC_STATIC,"Static",0x50020000,20,295,88,8
  CONTROL "&11025 Hz",IDC_DXS_11025_HZ,"Button",0x18000009,108,295,51,9
  CONTROL "&22050 Hz",IDC_DXS_22050_HZ,"Button",0x18000009,161,295,51,9
  CONTROL "&44100 Hz",IDC_DXS_44100_HZ,"Button",0x18000009,214,295,51,9
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,173,317,51,15
  CONTROL "&Save...",IDC_DXS_SAVE,"Button",0x50010000,61,317,51,15
  CONTROL "&Open...",IDC_DXS_OPEN,"Button",0x50010000,8,317,51,15
END
