#define IDC_DXS_ADAPTERS 100
#define IDC_DXS_DEVICE_TYPES 101
#define IDC_DXS_WINDOWED 109
#define IDC_DXS_FRONT_BUFFER_FORMATS 102
#define IDC_DXS_RESOLUTION 103
#define IDC_DXS_REFRESH_RATE 104
#define IDC_DXS_BACK_BUFFER_FORMATS 105
#define IDC_DXS_AUTODEPTHSTENCIL 110
#define IDC_DXS_Z_STENCIL_BUFFER_FORMATS 106
#define IDC_DXS_MULTI_SAMPLING_TYPES 107
#define IDC_DXS_MULTI_SAMPLING_QUALITIES 108
#define IDC_DXS_HARDWARE_TNL 111
#define IDC_DXS_PURE_DEVICE 112
#define IDC_DXS_MIXED_TNL 113
#define IDC_DXS_SOFTWARE_TNL 114
#define IDC_DXS_DRIVERS 115
#define IDC_DXS_8_BITS 116
#define IDC_DXS_16_BITS 117
#define IDC_DXS_11025_HZ 118
#define IDC_DXS_22050_HZ 119
#define IDC_DXS_44100_HZ 120
#define IDC_DXS_SAVE 121
#define IDC_DXS_OPEN 122
DIALOGDXSETUP DIALOGEX 0,0,278,347
CAPTION "DirectX Setup"
FONT 9, "Segoe UI",0,0
STYLE 0x80C008C8
BEGIN
  CONTROL "&OK",IDOK,"Button",0x50010001,226,327,48,14
  CONTROL "Direct3D",IDC_STATIC,"Button",0x50000007,4,0,272,251
  CONTROL "&Display Adapter:",IDC_STATIC,"Static",0x50020000,20,15,88,8
  CONTROL "",IDC_DXS_ADAPTERS,"ComboBox",0x58210203,110,11,154,332
  CONTROL "&Render Device Type:",IDC_STATIC,"Static",0x50020000,20,31,88,8
  CONTROL "",IDC_DXS_DEVICE_TYPES,"ComboBox",0x58210203,110,27,154,316
  CONTROL "Presentation",IDC_STATIC,"Button",0x50000007,10,46,260,80
  CONTROL "&Windowed",IDC_DXS_WINDOWED,"Button",0x58010003,110,58,50,9
  CONTROL "&Front Buffer Format:",IDC_STATIC,"Static",0x50020000,20,76,88,8
  CONTROL "",IDC_DXS_FRONT_BUFFER_FORMATS,"ComboBox",0x58210203,110,73,154,259
  CONTROL "Re&solution:",IDC_STATIC,"Static",0x50020000,20,92,88,8
  CONTROL "",IDC_DXS_RESOLUTION,"ComboBox",0x58210203,110,89,154,243
  CONTROL "Refresh r&ate:",IDC_STATIC,"Static",0x50020000,20,108,88,8
  CONTROL "",IDC_DXS_REFRESH_RATE,"ComboBox",0x58210203,110,105,154,227
  CONTROL "&Back Buffer Format:",IDC_STATIC,"Static",0x50020000,20,141,88,8
  CONTROL "",IDC_DXS_BACK_BUFFER_FORMATS,"ComboBox",0x58210203,110,138,154,192
  CONTROL "&Z/Stencil Buffer Format:",IDC_STATIC,"Static",0x50020000,20,157,88,8
  CONTROL "&Automatic",IDC_DXS_AUTODEPTHSTENCIL,"Button",0x58010003,110,155,44,10
  CONTROL "",IDC_DXS_Z_STENCIL_BUFFER_FORMATS,"ComboBox",0x58210203,168,153,96,170
  CONTROL "Multisampling &Type:",IDC_STATIC,"Static",0x50020000,20,173,88,8
  CONTROL "",IDC_DXS_MULTI_SAMPLING_TYPES,"ComboBox",0x58210203,110,170,154,155
  CONTROL "Multisampling &Quality:",IDC_STATIC,"Static",0x50020000,20,189,88,8
  CONTROL "",IDC_DXS_MULTI_SAMPLING_QUALITIES,"ComboBox",0x58210203,110,186,154,139
  CONTROL "Verte&x Processing:",IDC_STATIC,"Static",0x50020000,20,209,88,9
  CONTROL "&Hardware",IDC_DXS_HARDWARE_TNL,"Button",0x18000009,110,208,50,9
  CONTROL "&Pure Device",IDC_DXS_PURE_DEVICE,"Button",0x58010003,166,208,52,9
  CONTROL "&Mixed",IDC_DXS_MIXED_TNL,"Button",0x18000009,110,219,50,9
  CONTROL "Softwar&e",IDC_DXS_SOFTWARE_TNL,"Button",0x18000009,110,231,50,9
  CONTROL "DirectSound",IDC_STATIC,"Button",0x50000007,4,255,272,65
  CONTROL "Sound Dri&ver:",IDC_STATIC,"Static",0x50020000,20,271,88,8
  CONTROL "",IDC_DXS_DRIVERS,"ComboBox",0x58210203,110,267,154,56
  CONTROL "Sample Size:",IDC_STATIC,"Static",0x50020000,20,287,88,8
  CONTROL "&8 Bits",IDC_DXS_8_BITS,"Button",0x18000009,110,286,50,9
  CONTROL "1&6 Bits",IDC_DXS_16_BITS,"Button",0x18000009,160,286,50,9
  CONTROL "Sampling Frequency:",IDC_STATIC,"Static",0x50020000,20,302,88,8
  CONTROL "&11025 Hz",IDC_DXS_11025_HZ,"Button",0x18000009,110,302,50,9
  CONTROL "&22050 Hz",IDC_DXS_22050_HZ,"Button",0x18000009,160,302,50,9
  CONTROL "&44100 Hz",IDC_DXS_44100_HZ,"Button",0x18000009,212,302,50,9
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,172,327,50,14
  CONTROL "&Save...",IDC_DXS_SAVE,"Button",0x50010000,60,327,50,14
  CONTROL "&Open...",IDC_DXS_OPEN,"Button",0x50010000,6,327,50,14
END
