// Dialog resource: G2D_DialogSetupScale.rc

#define IDC_DSS_PREVIEW     100
#define IDC_DSS_COLORS      101

#define IDC_DSS_CHECKMIN    104
#define IDC_DSS_CHECKMAX    105
#define IDC_DSS_CHECKMJR    106
#define IDC_DSS_CHECKMNR    107

#define IDC_DSS_EDITMIN     108
#define IDC_DSS_EDITMAX     109
#define IDC_DSS_EDITMJR     110
#define IDC_DSS_EDITMNR     111

#define IDC_DSS_EDITDESC    112
#define IDC_DSS_EDITUNIT    113

#define IDC_DSS_CHECKGRID   114

#define IDC_DSS_STATIC0     115
#define IDC_DSS_STATIC1     116
#define IDC_DSS_STATIC2     117
#define IDC_DSS_STATIC3     118
#define IDC_DSS_STATIC4     119


DIALOGSETUPSCALE DIALOGEX 0, 0, 238, 131
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | 
    WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Scale Setup"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,191,111,42,14
    PUSHBUTTON      "Cancel",IDCANCEL,191,90,42,14
    PUSHBUTTON      "&Preview",IDC_DSS_PREVIEW,191,5,42,14
    PUSHBUTTON      "&Colors",IDC_DSS_COLORS,192,46,42,14
    GROUPBOX        "",IDC_DSS_STATIC0,4,1,182,124
    CTEXT           "Automatic setup",IDC_DSS_STATIC1,9,13,37,18
    CONTROL         "    Mi&nimum Value:",IDC_DSS_CHECKMIN,"Button",
                    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,24,33,72,12
    EDITTEXT        IDC_DSS_EDITMIN,98,33,77,12,ES_AUTOHSCROLL
    CONTROL         "    Ma&ximum Value:",IDC_DSS_CHECKMAX,"Button",
                    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,24,46,72,12
    EDITTEXT        IDC_DSS_EDITMAX,98,46,77,12,ES_AUTOHSCROLL
    CONTROL         "    M&ajor divisions:",IDC_DSS_CHECKMJR,"Button",
                    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,24,59,72,12
    EDITTEXT        IDC_DSS_EDITMJR,98,59,77,12,ES_AUTOHSCROLL
    CONTROL         "    M&inor divisions:",IDC_DSS_CHECKMNR,"Button",
                    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,24,72,72,12
    EDITTEXT        IDC_DSS_EDITMNR,98,72,77,12,ES_AUTOHSCROLL
    LTEXT           "&Description:",IDC_DSS_STATIC3,23,93,41,12,
                    SS_CENTERIMAGE,WS_EX_RIGHT
    EDITTEXT        IDC_DSS_EDITDESC,69,93,105,12,ES_AUTOHSCROLL
    LTEXT           "&Unit:",IDC_DSS_STATIC4,23,106,41,12,SS_CENTERIMAGE,
                    WS_EX_RIGHT
    EDITTEXT        IDC_DSS_EDITUNIT,69,106,40,12,ES_AUTOHSCROLL
    CONTROL         "Show Grid",IDC_DSS_CHECKGRID,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,123,106,50,12
END
