// Dialog resource: G2D_DialogSetupColors.rc

#define IDC_SGC_PREVIEW     100

#define IDC_SGC_GRID        102
#define IDC_SGC_PLOTAREA    103
#define IDC_SGC_PLOTBORDER  104
#define IDC_SGC_BACKGROUND  105
#define IDC_SGC_SCALES      106

DIALOGSETUPGRAPH2DCOLORS DIALOGEX 0, 0, 142, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | 
    WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Colors Setup"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,88,90,48,14
    PUSHBUTTON      "Cancel",IDCANCEL,88,70,48,14
    PUSHBUTTON      "&Preview",IDC_SGC_PREVIEW,88,5,48,14
    GROUPBOX        "",IDC_STATIC,3,1,80,104
    CONTROL         "&Grid",IDC_SGC_GRID,"ColorButton",WS_TABSTOP,11,12,62,14
    CONTROL         "Plot&area",IDC_SGC_PLOTAREA,"ColorButton",WS_TABSTOP,11,48,62,14
    CONTROL         "Plotb&order",IDC_SGC_PLOTBORDER,"ColorButton",WS_TABSTOP,11,30,62,14
    CONTROL         "&Background",IDC_SGC_BACKGROUND,"ColorButton",WS_TABSTOP,11,83,62,14
    CONTROL         "&Scales",IDC_SGC_SCALES,"ColorButton",WS_TABSTOP,11,65,62,14
END
