// Dialog resource: SkinnedDialogAbout.rc

#define IDC_SMB_TEXT        100

SKINNEDMSGBOX DIALOG DISCARDABLE  0,0,198,104
STYLE DS_CENTER | DS_CENTERMOUSE | WS_POPUP | WS_CHILD
EXSTYLE WS_EX_TRANSPARENT
FONT 9, "Segoe UI"
begin
  CTEXT    "", IDC_SMB_TEXT, 56,32,124,40
end
