#define IDD_CHT_SER_BAR_TAB 5400
#define IDC_CHT_SER_BAR_FILL_GRP 5430
#define IDC_CHT_SER_BAR_LINE_GRP 5420
#define IDC_CHT_SER_BAR_NAME_EDT 5402
#define IDC_CHT_SER_BAR_DESC_EDT 5404
#define IDC_CHT_SER_BAR_DESC_STC 5403
#define IDC_CHT_SER_BAR_NAME_STC 5401
#define IDC_CHT_SER_BAR_LINE_STYLE_CBO 5426
#define IDC_CHT_SER_BAR_LINE_STYLE_STC 5425
#define IDC_CHT_SER_BAR_LINE_WIDTH_STC 5422
#define IDC_CHT_SER_BAR_LINE_COLOR_BTN 5421
#define IDC_CHT_SER_BAR_FILL_STYLE_CBO 5434
#define IDC_CHT_SER_BAR_FILL_STYLE_STC 5433
#define IDC_CHT_SER_BAR_FILL_FORE_BTN 5431
#define IDC_CHT_SER_BAR_FILL_BACK_BTN 5432
#define IDC_CHT_SER_BAR_SHOW_CHK 5411
#define IDC_CHT_SER_BAR_LINE_WIDTH_EDT 5423
#define IDC_CHT_SER_BAR_WIDTH_EDT 5406
#define IDC_CHT_SER_BAR_WIDTH_STC 5405
#define IDC_CHT_SER_BAR_OFFSET_EDT 5409
#define IDC_CHT_SER_BAR_OFFSET_STC 5408
#define IDC_CHT_SER_BAR_WIDTH_UDN 5407
#define IDC_CHT_SER_BAR_OFFSET_UDN 5410
#define IDC_CHT_SER_BAR_Y2_CHK 5412
#define IDC_CHT_SER_BAR_LINE_WIDTH_UDN 5424
IDD_CHT_SER_BAR_TAB DIALOGEX 1,13,265,185
FONT 9,"Segoe UI",400,0
STYLE 0x40000410
EXSTYLE 0x00010000
BEGIN
  CONTROL "Series &Name:",IDC_CHT_SER_BAR_NAME_STC,"Static",0x50000002,8,12,43,8,0x00000000
  CONTROL "",IDC_CHT_SER_BAR_NAME_EDT,"Edit",0x50010000,56,11,201,13,0x00000200
  CONTROL "&Description:",IDC_CHT_SER_BAR_DESC_STC,"Static",0x50000002,8,28,43,8,0x00000000
  CONTROL "",IDC_CHT_SER_BAR_DESC_EDT,"Edit",0x50010000,56,27,201,13,0x00000200
  CONTROL "Bar &Width:",IDC_CHT_SER_BAR_WIDTH_STC,"Static",0x50000002,8,52,43,8,0x00000000
  CONTROL "",IDC_CHT_SER_BAR_WIDTH_EDT,"Edit",0x50012002,56,51,28,13,0x00000200
  CONTROL "",IDC_CHT_SER_BAR_WIDTH_UDN,"msctls_updown32",0x500001B6,77,51,9,13,0x00000000
  CONTROL "&Offset:",IDC_CHT_SER_BAR_OFFSET_STC,"Static",0x50000002,27,70,24,8,0x00000000
  CONTROL "",IDC_CHT_SER_BAR_OFFSET_EDT,"Edit",0x50010002,56,68,34,13,0x00000200
  CONTROL "",IDC_CHT_SER_BAR_OFFSET_UDN,"msctls_updown32",0x500001B6,80,68,9,13,0x00000000
  CONTROL "&Visible",IDC_CHT_SER_BAR_SHOW_CHK,"Button",0x50010003,120,52,34,8,0x00000000
  CONTROL "&Y2 Scale",IDC_CHT_SER_BAR_Y2_CHK,"Button",0x50010003,171,52,38,8,0x00000000
  CONTROL "Border",IDC_CHT_SER_BAR_LINE_GRP,"Button",0x50000007,8,92,113,83,0x00000000
  CONTROL "Line &Color",IDC_CHT_SER_BAR_LINE_COLOR_BTN,"ColorButton",0x50010000,18,112,88,13,0x00000000
  CONTROL "&Line Width:",IDC_CHT_SER_BAR_LINE_WIDTH_STC,"Static",0x50000002,15,131,36,8,0x00000000
  CONTROL "",IDC_CHT_SER_BAR_LINE_WIDTH_EDT,"Edit",0x50012002,56,129,28,13,0x00000200
  CONTROL "",IDC_CHT_SER_BAR_LINE_WIDTH_UDN,"msctls_updown32",0x500001B6,75,129,9,13,0x00000000
  CONTROL "&Style:",IDC_CHT_SER_BAR_LINE_STYLE_STC,"Static",0x50000002,27,153,22,8,0x00000000
  CONTROL "",IDC_CHT_SER_BAR_LINE_STYLE_CBO,"ComboBox",0x50010003,56,152,58,11,0x00000000
  CONTROL "Interior",IDC_CHT_SER_BAR_FILL_GRP,"Button",0x50000007,130,92,127,83,0x00000000
  CONTROL "&Forground Color",IDC_CHT_SER_BAR_FILL_FORE_BTN,"ColorButton",0x50010000,140,112,91,13,0x00000000
  CONTROL "&Background Color",IDC_CHT_SER_BAR_FILL_BACK_BTN,"ColorButton",0x50010000,140,128,91,13,0x00000000
  CONTROL "Fill S&tyle:",IDC_CHT_SER_BAR_FILL_STYLE_STC,"Static",0x50000002,135,153,31,8,0x00000000
  CONTROL "",IDC_CHT_SER_BAR_FILL_STYLE_CBO,"ComboBox",0x50010003,173,152,76,11,0x00000000
END
