#define IDD_CHT_SCL_TAB 5200
#define IDC_CHT_SCL_MINVAL_CHK 5202
#define IDC_CHT_SCL_MAXVAL_CHK 5203
#define IDC_CHT_SCL_MJRDIV_CHK 5204
#define IDC_CHT_SCL_MNRDIV_CHK 5205
#define IDC_CHT_SCL_MINVAL_EDT 5206
#define IDC_CHT_SCL_MAXVAL_EDT 5207
#define IDC_CHT_SCL_MJRDIV_EDT 5208
#define IDC_CHT_SCL_MNRDIV_EDT 5209
#define IDC_CHT_SCL_DESC_EDT 5231
#define IDC_CHT_SCL_DESC_STC 5230
#define IDC_CHT_SCL_UNIT_EDT 5233
#define IDC_CHT_SCL_UNIT_STC 5232
#define IDC_CHT_SCL_MJRGRD_SHOW_CHK 5220
#define IDC_CHT_SCL_MNRGRD_SHOW_CHK 5221
#define IDC_CHT_SCL_AUTO_STC 5201
#define IDC_CHT_SCL_SHOW_VAL_CHK 5210
#define IDC_CHT_SCL_SHOW_DATE_CHK 5211
#define IDC_CHT_SCL_SHOW_DATEDIFF_CHK 5212
#define IDC_CHT_SCL_SHOW_TIME_CHK 5213
#define IDC_CHT_SCL_MJRDIV_UDN 5214
#define IDC_CHT_SCL_MNRDIV_UDN 5215
IDD_CHT_SCL_TAB DIALOGEX 1,13,265,185
FONT 9,"Segoe UI",400,0
STYLE 0x40000410
EXSTYLE 0x00010000
BEGIN
  CONTROL "Automatic Setup",IDC_CHT_SCL_AUTO_STC,"Static",0x50000001,10,12,36,17,0x00000000
  CONTROL "   &Minimum Value:",IDC_CHT_SCL_MINVAL_CHK,"Button",0x50010003,24,35,70,10,0x00000000
  CONTROL "",IDC_CHT_SCL_MINVAL_EDT,"Edit",0x50010002,97,33,69,13,0x00000200
  CONTROL "   Ma&ximum Value:",IDC_CHT_SCL_MAXVAL_CHK,"Button",0x50010003,24,51,70,10,0x00000000
  CONTROL "",IDC_CHT_SCL_MAXVAL_EDT,"Edit",0x50010002,97,49,69,13,0x00000200
  CONTROL "Show &Values",IDC_CHT_SCL_SHOW_VAL_CHK,"Button",0x50010009,185,22,55,13,0x00000000
  CONTROL "Show &Dates",IDC_CHT_SCL_SHOW_DATE_CHK,"Button",0x50010009,185,35,55,13,0x00000000
  CONTROL "Show Date Di&ff.",IDC_CHT_SCL_SHOW_DATEDIFF_CHK,"Button",0x50010009,185,48,55,13,0x00000000
  CONTROL "Show &Time",IDC_CHT_SCL_SHOW_TIME_CHK,"Button",0x50010003,185,64,55,13,0x00000000
  CONTROL "   Ma&jor Divisions:",IDC_CHT_SCL_MJRDIV_CHK,"Button",0x50010003,24,89,70,10,0x00000000
  CONTROL "",IDC_CHT_SCL_MJRDIV_EDT,"Edit",0x50010002,97,88,28,12,0x00000200
  CONTROL "",IDC_CHT_SCL_MJRDIV_UDN,"msctls_updown32",0x500001B6,116,88,9,12,0x00000000
  CONTROL "Show Major &Grid",IDC_CHT_SCL_MJRGRD_SHOW_CHK,"Button",0x50010003,156,88,67,11,0x00000000
  CONTROL "   Mi&nor Divisions:",IDC_CHT_SCL_MNRDIV_CHK,"Button",0x50010003,24,105,70,10,0x00000000
  CONTROL "",IDC_CHT_SCL_MNRDIV_EDT,"Edit",0x50010002,97,104,28,12,0x00000200
  CONTROL "",IDC_CHT_SCL_MNRDIV_UDN,"msctls_updown32",0x500001B6,116,104,9,12,0x00000000
  CONTROL "Show Mino&r Grid",IDC_CHT_SCL_MNRGRD_SHOW_CHK,"Button",0x50010003,156,104,67,11,0x00000000
  CONTROL "&Description:",IDC_CHT_SCL_DESC_STC,"Static",0x50000002,22,134,43,8,0x00000000
  CONTROL "",IDC_CHT_SCL_DESC_EDT,"Edit",0x50010000,75,132,165,12,0x00000200
  CONTROL "&Unit:",IDC_CHT_SCL_UNIT_STC,"Static",0x50000002,22,150,43,8,0x00000000
  CONTROL "",IDC_CHT_SCL_UNIT_EDT,"Edit",0x50010000,75,148,67,12,0x00000200
END
