#define IDD_CHT_SER_XY_TAB 5300
#define IDC_CHT_SER_XY_MARK_GRP 5320
#define IDC_CHT_SER_XY_LINE_GRP 5310
#define IDC_CHT_SER_XY_NAME_EDT 5302
#define IDC_CHT_SER_XY_DESC_EDT 5304
#define IDC_CHT_SER_XY_DESC_STC 5303
#define IDC_CHT_SER_XY_NAME_STC 5301
#define IDC_CHT_SER_XY_MARK_TYPE_CBO 5331
#define IDC_CHT_SER_XY_MARK_TYPE_STC 5330
#define IDC_CHT_SER_XY_MARK_WIDTH_EDT 5328
#define IDC_CHT_SER_XY_MARK_WIDTH_STC 5327
#define IDC_CHT_SER_XY_MARK_SIZE_EDT 5325
#define IDC_CHT_SER_XY_MARK_SIZE_STC 5324
#define IDC_CHT_SER_XY_MARK_COLOR_F_BTN 5323
#define IDC_CHT_SER_XY_MARK_COLOR_B_BTN 5322
#define IDC_CHT_SER_XY_MARK_SHOW_CHK 5321
#define IDC_CHT_SER_XY_LINE_STYLE_CBO 5317
#define IDC_CHT_SER_XY_LINE_STYLE_STC 5316
#define IDC_CHT_SER_XY_LINE_WIDTH_EDT 5314
#define IDC_CHT_SER_XY_LINE_WIDTH_STC 5313
#define IDC_CHT_SER_XY_LINE_COLOR_BTN 5312
#define IDC_CHT_SER_XY_LINE_SHOW_CHK 5311
#define IDC_CHK1 5305
#define IDC_CHT_SER_XY_MARK_WIDTH_UDN 5329
#define IDC_CHT_SER_XY_MARK_SIZE_UDN 5326
#define IDC_CHT_SER_XY_LINE_WIDTH_UDN 5315
IDD_CHT_SER_XY_TAB DIALOGEX 1,13,265,185
FONT 9,"Segoe UI",400,0
STYLE 0x40000410
EXSTYLE 0x00010000
BEGIN
  CONTROL "Series &Name:",IDC_CHT_SER_XY_NAME_STC,"Static",0x50000002,8,12,43,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_NAME_EDT,"Edit",0x50010000,56,11,201,13,0x00000200
  CONTROL "&Description:",IDC_CHT_SER_XY_DESC_STC,"Static",0x50000002,8,28,43,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_DESC_EDT,"Edit",0x50010000,56,27,201,13,0x00000200
  CONTROL "&Y2 Scale",IDC_CHK1,"Button",0x50010003,56,44,38,8,0x00000000
  CONTROL "Line",IDC_CHT_SER_XY_LINE_GRP,"Button",0x50000007,8,64,100,112,0x00000000
  CONTROL "&Visible",IDC_CHT_SER_XY_LINE_SHOW_CHK,"Button",0x50010003,22,78,38,8,0x00000000
  CONTROL "&Color",IDC_CHT_SER_XY_LINE_COLOR_BTN,"ColorButton",0x50010000,20,94,58,13,0x00000000
  CONTROL "&Width:",IDC_CHT_SER_XY_LINE_WIDTH_STC,"Static",0x50000002,13,118,22,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_LINE_WIDTH_EDT,"Edit",0x50012002,39,116,28,13,0x00000200
  CONTROL "",IDC_CHT_SER_XY_LINE_WIDTH_UDN,"msctls_updown32",0x500001B6,58,116,9,13,0x00000000
  CONTROL "&Style:",IDC_CHT_SER_XY_LINE_STYLE_STC,"Static",0x50000002,13,137,22,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_LINE_STYLE_CBO,"ComboBox",0x50010003,39,136,58,11,0x00000000
  CONTROL "Marker",IDC_CHT_SER_XY_MARK_GRP,"Button",0x50000007,117,64,140,112,0x00000000
  CONTROL "V&isible",IDC_CHT_SER_XY_MARK_SHOW_CHK,"Button",0x50010003,132,78,38,8,0x00000000
  CONTROL "&Border Color",IDC_CHT_SER_XY_MARK_COLOR_B_BTN,"ColorButton",0x50010000,130,92,58,13,0x00000000
  CONTROL "&Fill Color",IDC_CHT_SER_XY_MARK_COLOR_F_BTN,"ColorButton",0x50010000,130,105,58,13,0x00000000
  CONTROL "Si&ze:",IDC_CHT_SER_XY_MARK_SIZE_STC,"Static",0x50000002,120,124,45,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_MARK_SIZE_EDT,"Edit",0x50012002,169,123,28,13,0x00000200
  CONTROL "",IDC_CHT_SER_XY_MARK_SIZE_UDN,"msctls_updown32",0x500001B6,188,123,9,13,0x00000000
  CONTROL "Bor&der Width:",IDC_CHT_SER_XY_MARK_WIDTH_STC,"Static",0x50000002,120,140,45,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_MARK_WIDTH_EDT,"Edit",0x50012002,169,139,28,13,0x00000200
  CONTROL "",IDC_CHT_SER_XY_MARK_WIDTH_UDN,"msctls_updown32",0x500001B6,188,139,9,13,0x00000000
  CONTROL "&Type:",IDC_CHT_SER_XY_MARK_TYPE_STC,"Static",0x50000002,120,160,45,8,0x00000000
  CONTROL "",IDC_CHT_SER_XY_MARK_TYPE_CBO,"ComboBox",0x50010003,169,158,79,11,0x00000000
END
