; ==================================================================================================
; Title:      XTreeViewDemo.rc
; Author:     G. Friedrich
; Version:    See XTreeViewDemo.asm
; Purpose:    ObjAsm XTreeview Demo Application resource file.
; ==================================================================================================


#include "Resource.h"                   //Windows resource definitions
#include "XTreeViewDemo_Shared.rc"      //Application shared definitions
#include "VER\Version.rc"               //Application version definition
#include "MFT\Manifest_Invoker.rc"      //Application manifest definition

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


// Icons ------------------------------------------------------------------------------------------
ICON_APP  ICON DISCARDABLE "Ico\OA.ICO"


// Cursors ----------------------------------------------------------------------------------------
CURSOR_XTV_ARROW        CURSOR DISCARDABLE "CUR\\Arrow.cur"
CURSOR_XTV_NO           CURSOR DISCARDABLE "CUR\\ArrowNo_C.cur"
CURSOR_XTV_ARROWNODE    CURSOR DISCARDABLE "CUR\\ArrowNode_C.cur"
CURSOR_XTV_ARROWFIRST   CURSOR DISCARDABLE "CUR\\ArrowNodeFirstChild_C.cur"
CURSOR_XTV_ARROWLAST    CURSOR DISCARDABLE "CUR\\ArrowNodeLastChild_C.cur"
CURSOR_XTV_ARROWPREV    CURSOR DISCARDABLE "CUR\\ArrowNodePrev_C.cur"
CURSOR_XTV_ARROWNEXT    CURSOR DISCARDABLE "CUR\\ArrowNodeNext_C.cur"

// Dialogs ----------------------------------------------------------------------------------------
#include "DLG\DialogAbout.rc"


// Menus ------------------------------------------------------------------------------------------
MENU_APP MENUEX DISCARDABLE
BEGIN
  POPUP "&File", 0, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "&Exit", IDM_EXIT,   MFT_STRING, MFS_ENABLED
  END
  POPUP "&Help", 0, MFT_STRING,   MFS_ENABLED
  BEGIN
    MENUITEM "&Help",  IDM_HELP,  MFT_STRING, MFS_ENABLED
    MENUITEM "&About", IDM_ABOUT, MFT_STRING, MFS_ENABLED
  END
END

MENU_CUSTOM_NODE MENUEX DISCARDABLE
BEGIN
  POPUP "CONTEXT",     IDM_CONTEXT, MFT_STRING, MFS_ENABLED
  BEGIN
    MENUITEM "&Help",  IDM_HELP,    MFT_STRING, MFS_ENABLED
    MENUITEM "&About", IDM_ABOUT,   MFT_STRING, MFS_ENABLED
  END
END
